body{
    margin: 0;
}
.half-wight{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.name-highlight{
    color: salmon;
}
.hire-me{
    text-decoration: none;
    background-color: salmon;
    padding: 15px 15px;
    border-radius: 10px;
    
}
.half-wight img{
    width: 75%;
}
section{
    height: 500px;
   
}
.one-third{
    width: 30%;
    float: left;
   padding-left:2%;
   box-shadow: 10px 10px 40px white;
}
.one-third img{
    width: 50%;
    align-items: center;
}
.latest-work{
    text-align: center;
    font-size: 30px;
    padding-top: 65px;
    

}
.latest-project{
    box-shadow: 10px 10px 40px rgb(182, 152, 152);
    background-color: white;
   
}
.latest-work-highlight{
    color: tomato;
}
.single-experince{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 250px;
    margin-top: 50px;
    margin-left: 15px;
}
..single-experince img{
    align-items: center;
}
.hire-me img{
    width: 6%;
    vertical-align: middle;
     margin-right: 5px;
}
.work-inquary{
    background-color: green;
    padding: 30px;
    font-size: 50px;
    border-radius: 15px;
    margin: 40px 40px;
}
.hire-me-2{
    text-decoration: none;
    background-color: salmon;
    padding: 15px 15px;
    border-radius: 10px;
    float: right;
    text-align: center;
}
.ck-out{
    text-decoration: none;
    background-color: salmon;
    padding: 10px 10px;
    border-radius: 10px;
    float: right;
   padding-bottom: 10px;
   margin-bottom: 50px;
   
   
    
   
}
.work-inquiry{
    margin: 20px 250px;
    background-color: blue;
    height: 150px;
    border-radius: 10px;
    padding-right: 50px;
    padding-bottom: 15px;
}
.work-middle{
    vertical-align: middle;
    margin-right: 5px;
    padding-top: 50px;
    padding-left: 35px;
}
.work-inquiry h1{
    padding-top: 70px;
}
#chat{
    text-align: center;
    vertical-align: middle;
}