body{
    margin: 0;
}
.half-wight{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.name-highlight{
    color: salmon;
}
.hire-me{
    text-decoration: none;
    background-color: salmon;
    padding: 10px 10px;
    border-radius: 10px;
    
}
.half-wight img{
    width: 75%;
}
section{
    height: 500px;
    padding-bottom: 30px;
}
.one-third{
    width: 30%;
    float: left;
   padding-left:2%;
}
.one-third img{
    width: 50%;
    align-items: center;
}
.latest-work{
    text-align: center;
    background-color: brown;
    padding: 10px;
    color: white;
}